body {
    background-image: url(Background_NYC.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;

    font-family: monospace;
}
h1,
h2,
p {
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

#cajaprincipal {
    border: solid;
    position: absolute;
    width: 600px;
    border-radius: 9px;
    padding: 11px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aliceblue;
}
.topbar {
    display: flex;
    border: solid;
    border-radius: 9px;
    background-color: rgba(198, 240, 247, 0.8);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
#clock {
    font-size: 22px;
    font-weight: bold;
}
#movecajaprincipal {
    padding: 10px;
    cursor: move;
    background-color:rgba(198, 240, 247, 0.8);
}
.icon {
    width: 80px;
    text-align: center;
    margin: 20px;
    color: white
}
#calc-ventana {
    border: solid;
    position: absolute;
    width: 600px;
    border-radius: 9px;
    padding: 11px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aliceblue;
}
.window-header {
    background-color: rgba(198, 240, 247, 0.8);
    padding: 5px;
    cursor: move;
    font-weight: bold;
}